.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.grid {
    max-width: 1600px;
    margin: auto;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 10px;
    font-size: 24px
}

.card {
    height: 400px;
    background-color: lightgray;
    width: 300px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05)
}

.card-header {
    color: black;
    margin-top: 0;   
    margin-left: 5px; 
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 125px;
    max-width: 257px;
}

.card-price{
    color: black;
    margin-left: 5px; 
    text-align: left;
    max-width: 250px;
}

.card-img {
    padding-top: 2%;
    height: 50%;
    width: auto;
    max-width: 250px;
}


.searchGrid {
    width: 85%;
    margin: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    font-size: 24px
}

.searchbar {
    padding: 15px;
}

.searchbar input {
    display: grid;
    margin: auto;
    text-align: center;
    font-size: 32px; 
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1000px;
    padding: 35px;
    border-radius: 50px;
    outline: solid 4px white;
    transform: scale(0.5);
}

.searchBtn {
    margin-top: 25px;
    margin-left: 650px;
    font-size: 48px;
}

.searchBtn:hover {
   cursor: pointer;
   color: #d7deee;
}

input,
button {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.loadState p {
    font-size: 14px;
}