.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.grid {
    width: 85%;
    margin: auto;
    display: grid;
    padding: 10px;
    /* --w: 1200px; control when the items will wrap */
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-columns: repeat(auto-fill,
     minmax(clamp(100%/3 + 0.1%,(var(--w) - 100%)*1000,100%/2 + 0.1%),1fr)); */
    gap: 20px 5px;
    font-size: 24px
}

.card {
    height: 350px;
    background-color: lightgray;
    width: 250px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05)
}

.card-header {
    color: black;
    margin-top: 0;   
    margin-left: 5px; 
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
    max-width: 257px;
}

.card-price{
    color: black;
    margin-left: 5px; 
    text-align: left;
    max-width: 250px;
}

.card-img {
    padding-top: 2%;
    height: auto;
    width: 95%;
    max-width: 250px;
}


.searchbar {
    padding: 15px;
}

.searchbar input {
    display: grid;
    margin: auto;
    height: 30px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
}

.searchBar button {
    float: left;
    display: inline;
    background: none;
}